:root {
    --color-base: #FFFFFF;
    --color-box-shadow: #555;
}

.wrapper-search-component {
    /* outline: 1px solid #000000; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;

    box-shadow:0 0 10px var(--color-box-shadow);
    background: var(--color-base);
    border-radius: 8px;
}

.search-text {
    /* outline: 1px solid #000000; */
    margin-left: 20px;
    width: 90%;
}

.line-search {
    width: 100%;
    border: 0px;
    padding: 0px;
    border: none;
    font-size: 20px;
}

.search-icon {
    /* outline: 1px solid #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 40px;
    height: 100%;
}

