:root {
    --color-text: #000000;
    --color-box-shadow: #555;
    --color-decor: #7E72F2;
    --color-hover-add: #00008B;
    --color-base: #FFFFFF;

    --font-cart-list: 'Montserrat', sans-serif;
    
}

.text-cart-list {
    font-family: var(--font-cart-list);
}

.modal {
    /* outline: 1px solid;
    height: 100%; */
    background: rgba(0,0,0,.4);
    /* position: fixed; */

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* margin: auto; */
    display: flex;
}

.wrapper-cart-list {
    outline: 1px solid;
    margin: 0 auto;
    max-width: 1200px;
    overflow-y: scroll;

    background-color: #fefefe;
}

.header-close {
    outline: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 0px 20px 0px 0px;
}

.header-close a {
    display: flex;
    align-items: center;
}

.carts-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.block-cart-title {
    max-width: 750px;
    padding: 0px 10px 0px 10px;
}

.cart {
    /* outline: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 15px 0px;
    border-radius: 7px ;

    box-shadow:0 0 10px var(--color-box-shadow);
}

.cart-img {
    /* outline: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.cart-title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-text);
    margin: 0px 0px 0px 0px;
}

.cart-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

    .amount-product {
        display: flex;
        align-items: center;
        padding: 0px 10px 0px 10px;
    }

    .amount-product button {
        margin: 0; 
        border: 0; 
        outline: none; 
        background-color: transparent; 
    }

    .amount-product p {
        margin: 0px 0px 0px 0px;
        padding: 0px 3px 0px 3px;

        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
    }

    .price-title {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;

        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .delete-title {
        padding: 0px 10px 0px 10px;
    }

    .delete-title button {
        margin: 0; 
        border: 0; 
        outline: none; 
        background-color: transparent; 
    }

    .cart-total {
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }

        .cart-total h2 {
            margin: 0px 0px 0px 0px;

            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
        }

        .cart-total p {
            margin: 0px 0px 0px 3px;

            font-size: 14px;
            line-height: 1.2;
        }

    .order-button {
        display: flex;
        justify-content: center;
        
        padding: 0px 0px 10px 0px;
    }

        .order-button button {
            width: 200px;
            border-radius: 3px 3px 3px 3px;
            border: none;
            padding: 8px;

            font-size: 12px;
            background-color: var(--color-decor);
            color: var(--color-base);
        }

        .order-button button:hover {
            background-color: var(--color-hover-add);
            transition: .3s;
        }